body{
    background-color: cornflowerblue;
}

main {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
.container{

    background-color: gold;
    height: 100px;
    width: 100px
}

#cont1 {
    margin-right: auto;
    margin-left: auto;
}

#cont2 {
    margin-right: auto;
    margin-left: auto;
}

#cont3 {
    margin-right: auto;
    margin-left: auto;
}

