body{
    background-color: cornflowerblue;
}

main {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
.container{
    margin-right: auto;
    margin-left: auto;
    background-color: gold;
    height: 100px;
    width: 150px;
}

#cont1 {

}

#cont2 {

}

#cont3 {

}
