body{
    background-color: cornflowerblue;
}

main {
    max-width: 960px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 650px;
    height: 650px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#cont1 {

}

#cont2 {

}

#cont3 {

}
