@charset "UTF-8";
/* CSS Document */

.container{
    margin-left:20%;
    margin-right:20%;
    padding:10% 20% 0% 20%;
}

a{
    text-decoration:none;
    color:#000000;
}

.general{
    float:left;
    background-color:#1284C1;
    padding:40px 50px 40px 50px;
    margin:10px 10px 10px 10px;
    align-content:center;
    color: #ffffff;
    border-radius:10px;
}

.specific{
    background-color:#F9F7EB;
    padding:40px 50px 40px 50px;
    margin:10px 10px 10px 10px;
    align-content:center;
    border-radius:10px;

}

table{
    border-collapse:collapse;
    border-color:transparent;
}