@charset "UTF-8";
/* CSS Document */

.container{
	align-self:center;
	margin-left:20%;
	margin-right:20%;
	padding:10%;
}

a{
	text-decoration:none;
	color:#000000;
}

.general{
	float:left;
	background-color:#1284C1;
	padding:20%;
	margin:10px 10px 10px 10px;
	align-content:center;
	color: #ffffff;
}

.specific{
	background-color:#F9F7EB;
	padding:20%;
	margin:10px 10px 10px 10px;
	align-content:center;

	
}